/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}

/* Section principale */
section {
    padding: 50px;
}

/* Boutons et liens */
a, button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover, button:hover {
    background-color: #0056b3;
}


#projects {
    background-color: #fff;
    padding: 40px;
}

.project {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #333;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #0056b3;
}


#about, #skills {
    background-color: #f8f9fa;
    padding: 40px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    font-size: 18px;
    padding: 5px 0;
}
